body {
  font-family: sans-serif;

}

.thegame{
  margin-top: 25%
}

.home{
  color: white;
  margin: 0 auto;
  text-align: center;
}

.form-group{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  
}

.register{
  border: solid 2 px green;
  background-color: green;
  color: white;
  font-size: 15px;
  text-align: center;
}

h3{
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  color: white
}

h1{
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  color: white;
  text-align: center
}
.login{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.register2{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* App.css */
.flag-app {
  text-align: center;
  margin-top: 5%;
}

.title-header {
  display: flex;
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-end;
  background-color: "#6b93d6";
}

.title-text {
  font-size: 3.5em;
  color: #e9eff9;
  text-shadow: 3px 3px 4px black;
}
.title-text2 {
  color: darkred;
  font-size: 3em;
  text-shadow: 3px 3px 4px rgb(229, 236, 227);
}

@media (max-width: 450px) {
  .title-header {
    height: 14vh;
  }

  .title-text {
    font-size: 2.1em;
  }


  .thegame{
    margin-top: 25%
  }

  }


  /* css.css */
  body {
    background-image:url("http://kb4images.com/images/travel-wallpaper/37184514-travel-wallpaper.jpg");
    opacity: 0.9;
    background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;    
    
}

.logo{
    color:#fff;
    font-family: arial;
    text-align: center;
    font-weight: 800;
}
.input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 4px;
    text-align: center;
}
img{
    width: 150px;
    height: 100px;
}
hr{
    width: 90%;
    border: solid 1px;
    color: white
}


.test{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }


.container{
    list-style-type:none;
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 1px white
    }

/* flag-answer.css */
.flag-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.flag-answer button {
  margin-left: 25px;
}

.thegame{
  margin-top: 25%
}

/* flage-choices */
.flag-form {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  background-color:#3b5998;
  border-radius: 50px;
  margin-bottom:10px
}


.thegame{
  margin-top: 25%
}


/* Flag-questions.css */
.flag-img {
  max-height: 70vh;
  max-width: 50%;
  margin: 15px;
  /* box-shadow:  3px 3px 5px; */
}


.thegame{
  margin-top: 25%
}